@charset "utf-8";
/* CSS Document */


@import "margin.css";
@import "padding.css";

html,body{width:100%;height:100%;overflow-y: hidden;overflow-x: auto;}

.wrap{height: 100%;min-width:1920px;}
.wrap *{letter-spacing:-0.025em;}


/* login form */
.login_wrap{display: flex;height:100%;}
.login_wrap .title{flex:1;display: flex;flex-flow: column;justify-content: end;background-image: url(../img/bg/bg_login.png);background-repeat: no-repeat;background-size: cover;padding:96px 110px 100px;}
.login_wrap .title h1{font-size:40px;line-height:61px;letter-spacing: 10;color:#dedede;}
.login_wrap .title h1 strong{color:#fff;}

.login_frm{flex:none;display: flex;flex-flow:column;justify-content: center;width:600px;padding:64px;}
.login_frm h2{display: block;text-align: center;}
.login_frm .txt_input{display: flex;flex-flow: column;gap: 24px;}
.login_frm .txt_input label{display:block;height:56px;padding:0 16px 0 40px;border:1px solid #d2d6db;border-radius:8px;background-color: #fff;background-repeat: no-repeat;background-position: 10px 50%;transition: all 0.2s;}
.login_frm .txt_input label:has(:focus){border: 1px solid #333;}
.login_frm .txt_input label.user{background-image: url(../img/ico/ico_user_input.png);}
.login_frm .txt_input label.user:has(:focus){background-image: url(../img/ico/ico_user_input_focus.png);}
.login_frm .txt_input label.pwd{background-image: url(../img/ico/ico_pwd_input.png);}
.login_frm .txt_input label.pwd:has(:focus){background-image: url(../img/ico/ico_pwd_input_focus.png);}
.login_frm .txt_input label input{display: block;width:100%;height:54px;font-size:14px;line-height: 54px;color:#333;padding:0;border:none;}
.login_frm .save label{display: flex;padding:12px 0;}
.login_frm .save label input{width:18px;height:18px;background-image: url(../img/bg/bg_login_checkbox.png);margin-right:11px;}
.login_frm .save label input:checked{accent-color:#111927;border:1px solid #111927;}
.login_frm .save label > span{display: block;font-size: 14px;line-height:18px;color:#111927;}
.login_frm .msg > p{font-size: 12px;line-height: 19px;}
.login_frm .msg > p.warning{color:#f04438}

/* buttons */
.btn_wrap{display:flex;gap: 10px;justify-content: center;}
a.btn_blue{display:block;height:42px;font-size:15px;line-height:42px;text-align: center;;color:#fff;font-weight: bold;padding:0 24px;border-radius: 8px;}
a.btn_blue.straight{width:100%;background-color: #2c56d0;}

/* main layout */
.main_layout{display: flex;background-color: #f7f7f7;width:100%;height:100%;}

/* left navigation */
.nav_left{flex:none;display: flex;flex-flow: column;background-color: #fff;width:280px;}
.nav_left .nav_head{flex:none;position:relative;height:136px;border-bottom: 1px solid #f0f1f2;padding:25px 16px 24px;}
.nav_left .nav_head h1.logo{width:160px;height:54px;}
.nav_left .nav_head h1.logo > a{display:block;width:160px;height:54px;background-image: url(../img/logo/logo_main.png);background-repeat: no-repeat;background-size:160px 54px;}
.nav_left .nav_head a.nav_switcher{position:absolute;top:47px;right: 26px;width:7px;height:11px;background-image: url(../img/arrow/arrow_z_7x11.png);}
.nav_left .nav_head .label{margin-top:10px;display:inline-block;height:22px;padding:0 9px;background-color: #152143;color:#e0e1e6;font-size: 11px;line-height: 21px;border-radius: 11px;}

.nav_left .nav_menu{flex:1;overflow-y: scroll;padding:24px 16px;}
.nav_left .nav_menu > h2 a{display:block;height:38px;background-color: #f2f2f2;font-size: 13px;color:#111927;line-height: 37px;font-weight:500;padding:0 16px 0 48px;border-radius: 12px;background-repeat: no-repeat;}
.nav_left .nav_menu > h2.home a{background-image: url(../img/ico/ico_home.png);background-position:14px 50%;}

.nav_left .nav_menu .setting{padding-top:30px;}
.nav_left .nav_menu .setting > strong{display: block;font-size: 12px;line-height: 15px;color:#111927;padding:2px 0 4px;}
.nav_left .nav_menu .setting dt > a{position:relative;display:block;height:38px;background-color: #fff;font-size: 13px;color:#111927;line-height: 37px;font-weight:500;padding:0 16px 0 48px;border-radius: 12px;background-repeat: no-repeat;background-position:14px 50%;}
.nav_left .nav_menu .setting dt > a::after{content:'';position:absolute;top:50%;right:18px;transform: translateY(-50%);width:10px;height:6px;background-image: url(../img/arrow/arrow_y_10x6.png);}
.nav_left .nav_menu .setting dl:has(.on) dt a,.nav_left .nav_menu .setting dt:hover a{background-color: #e9eefa;}
.nav_left .nav_menu .setting dt.user_setting a{background-image: url(../img/ico/ico_user.png);}
.nav_left .nav_menu .setting dt.system_setting a{background-image: url(../img/ico/ico_setting.png);}
.nav_left .nav_menu .setting dd a{display:block;background-color: #fff;font-size: 13px;color:#111927;line-height: 35px;font-weight:500;background-color: yellow;}
